@import '../abstracts/variables';
@import '../abstracts/functions';
@import '../abstracts/mixins';
@import '../abstracts/placeholders';

@import '../layout/forms';

@import '../components/form-input';
@import '../components/button';

.instructions {
    margin: 1em 0;
}

.gender-container {
    @extend %flex;

    justify-content: space-between;
    max-width: 200px;
}

.feedback-message {
    background: hsl(240, 100%, 95%);
    color: hsl(120, 70%, 50%);
    display: none;
    font-size: 1.125rem;
    font-weight: font-weight('medium');
    margin: 1em 0;
    padding: .5em;
    text-align: center;

}

.display-block {
    display: block;
}
